body{
	background: #212f3c ;
	text-align: center;       

}


#Titulo{

	 color: #FF5733;           
       

}
.TextImport{
	color: #e74c3c;
 


}
#Texto{
color:#bfc9ca  ;

}

h3{


	color:#e74c3c ;
}